@{
    ViewData["Title"] = "Men page";
}

<style>
    h2{
        font-size: 200%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        background-color:steelblue;
    }
</style>

<h2>Men's Golf</h2>

<div>
    <p>Choose your course difficulty (in descending order)</p>
    <br>
    <a href="./Buckeye" class="elements"><span>Buckeye</span></a>
    <br>
    <a href="./Black" class="elements"><span>Black</span></a>
    <br>
    <a href="./Scarlet" class="elements"><span>Scarlet</span></a>
    <br>
    <a href="./Gray" class="elements"><span>Gray</span></a>
    <br>
    <a href="./White" class="elements"><span>White</span></a>
</div>