@{
    ViewData["Title"] = "Home Page";
}

<style>
    h2{
        font-size: 200%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>

<h2>Home</h2>

<li><a href="../Men/Index" class="elements"><span>Men</span></a></li>
<li><a href="../Women/Index" class="elements"><span>Women</span></a></li>