@{
    ViewData["Title"] = "Home Page";
}

<li><a href="../Men/Index" class="elements"><span>Men</span></a></li>
<li><a href="../Women/Index" class="elements"><span>Women</span></a></li>

<p>This is the home page</p>