@{
    ViewData["Title"] = "Home Page";
}

<style>
    h2{
        font-size: 200%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: white;
        display: inline;
    }
    h3{
        background-color: white;
        display: inline;
    }
</style>

<h2>Welcome!</h2>
<br>
<h3>You have reached the home page of the handicap calculator for the Ohio State University golf course!</h3>
<h3><img src="https://pgm.osu.edu/sites/pgm/files/styles/homepage_slide/public/homepage_slides/brutus-short-game.jpg?itok=mEpDvtso"
 alt="Brutus putting" width="650" height="auto"></h3>
