@{
    ViewData["Title"] = "Women Page";
}

<style>
    h2{
        font-size: 200%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        background-color:lightcoral;
    }
</style>

<h2>Women's Golf</h2>

<div>
    <p>Choose your course difficulty (in descending order)</p>
    <br>
    <a href="./White" class="elements"><span>White</span></a>
</div>