<style>
    h2{
        font-size: 200%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:red;
        background-color:whitesmoke;
    }
</style>
<div>
        <h2>Women's White Course</h2>
        <br>
        <h3>Handicap = (Score Average - Course Rating) x 113 / Slope Rating</h3>
        <br>
        <span>Score Average = @Model.scoreAvg</span>
        <br>
        <span>Course Rating = @Model.courseRating</span>
        <br>
        <span>Slope Rating = @Model.slopeRating</span>
        <br>
        <span>Handicap = @Model.handicap</span>
</div>